<!DOCTYPE html>

{% extends "books.html" %}

{% block items %}

	<div class="card" style="background: #bdac80">
            <!-- Изображение -->
            <img src="1984.jpg" class="card-img-top" alt="...">
            <!-- Текстовый контент -->
            <div class="card-body">
                <h4 class="card-title">1984</h4>
                <p class="card-text"></p>
            </div>
        </div><!-- Конец карточки -->
        
        <div class="card" style="background: #bdac80">
            <!-- Изображение -->
            <img src="Война и мир.jpg" class="card-img-top" alt="...">
            <!-- Текстовый контент -->
            <div class="card-body">
                <h4 class="card-title">Война и мир</h4>
                <p class="card-text"></p>
            </div>
        </div><!-- Конец карточки -->


{% endblock %}