<!DOCTYPE html>

{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}" />
      <h3> Личный кабинет </h3>
      <div class ="row">        
        <div class="col-md-5 text-left1">
          <h4>Личная информация</h4>
          <p class="p1"><u>Фамилия:</u> {{ per.surname }} </p>
          <p class="p1"><u>Имя:</u> {{ per.name }} </p>
          <p class="p1"><u>Номер телефона:</u> {{ per.phone }} </p>
          <p class="p1"><u>Город:</u> {{ per.city }} </p>
          <p class="p1"><u>Почта:</u> {{ per.mail }} </p>

        <div class="col-md-12 text-center">
          <h4>Избранное</h4>
          <p align="center"><a href="{%url 'favourites'%}"> Посмотреть избранное </a></p>
        </div>
        </div>

        <div class="col-md-7">
          <h4>Мои книги</h4>
        <p align="center"><a href="{%url 'addbook'%}"> Добавить книгу </a></p>

        <div class="card-deck">
        <div class="card" style="background: #bdac80">
            <!-- Изображение -->
            {% load static %}
            <img src="{% static 'Война и мир.jpg' %}" class="card-img-top" alt="...">
            <!-- Текстовый контент -->
            <div class="card-body">
                <h4 class="card-title">Война и мир</h4>
                <p class="card-text"></p>
                <a href="{%url 'inform'%}" class="btn btn-primary">Перейти</a>
            </div>
        </div><!-- Конец карточки -->

        <div class="card" style="background: #bdac80">
            <!-- Изображение -->
{% load static %}
            <img src="{% static '1984.jpg' %}" class="card-img-top" alt="...">
            <!-- Текстовый контент -->
            <div class="card-body">
                <h4 class="card-title">1984</h4>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Перейти</a>
            </div>
        </div><!-- Конец карточки -->
        
        <div class="card" style="background: #bdac80">
            <!-- Изображение -->
{% load static %}
            <img src="{% static 'Война и мир.jpg' %}" class="card-img-top" alt="...">
            <!-- Текстовый контент -->
            <div class="card-body">
                <h4 class="card-title">Война и мир</h4>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Перейти</a>
            </div>
        </div><!-- Конец карточки -->
 
        </div>


    </div>

{% endblock %}